@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500');

/* Base Style
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  line-height: 2;
  background: #fafafa;
}
body > main[role="main"] {
  position: relative;
  background: #fff;
  /*overflow-x: hidden;*/
}
main[role="main"] > .container {
  /*.container {*/
    padding-right: 3.5rem
  }

  .btn {
    font-size: 1rem;
  }
  p {
    text-align: justify;
  }
  a {
    color: #3b9ca5
  }
  h1,h2,h3,h4,h5,h6 {
    color: #3b9ca5;
    font-weight: 400;
  }
  blockquote {
    padding: 1rem;
    background: #efefef;
    border-left: 3px solid #3b9ca5;
  }

  form label {
    font-weight: 500
  }

  .no-border {
    border: none!important;
  }

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#loader {
  position: fixed;
  top: 0;left: 0;
  width: 100%; height: 100%;
  z-index: 1200;

  background-color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
}

.headline {
  position: relative;
  margin-bottom: 1rem;
  padding-bottom: 1.25rem;
}
.headline:after {
  content: "";
  position: absolute;
  bottom: 0; left: 0;
  width: 100%; max-width: 4rem;
  height: .25rem;
  background-color: #ffc107;
}
.headline.center:after {
  left: 50%;
  transform: translateX(-50%);
}

#home {
  /*height: 100vh;*/
  height: 480px;
  background-color: #aaa;
}

header .header-spacing {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  z-index: 1030;
  transition: all .2s ease-in-out;
}

header .navbar {

  /*background-color: #3b9ca5;*/
  background-color: none;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;

  transition: all .2s ease-in-out;
}
header .navbar .navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
header .navbar .navbar-brand img {
  filter: brightness(0) invert(1);
  width: 200px;
}
header .navbar .nav-link {
  color: rgba(255,255,255,.9)!important;

  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: .75rem!important;
  padding-right: .75rem!important;
}
header .navbar .navbar-brand,
header .navbar .nav-link,
header .navbar .navbar-toggler-icon {
  color: #fff;
}
header .navbar .nav-item .nav-link.active {
  transition: all .5s ease-in-out;
  background-color: rgba(255,255,255,.25);
}
header .navbar-collapse {
  background: #3b9ca5ee;
}
header .hotline {
  font-size: 1.2rem;
  color: #3b9ca5;
  font-weight: 500;
  font-style: italic;
  width: 100%;
}
.header-contacts .contact {
  text-align: left;
  line-height: 1.15;
  font-weight: 500;
}
.header-contacts .contact small{
  font-weight: 300
}
.header-contacts .buttons {
  display: flex;
}
.header-contacts .buttons .header-items {
  flex: auto;
  text-align: left;
  color: #3b9ca5;
  line-height: 18px;
  max-width: 2.75rem;
}
.header-contacts .header-items.phone {
  background: url('../img/icons/icon_phone.png') center left no-repeat transparent;
  background-size: auto 28px;
  padding-left: 36px;
  font-size: .9rem;
  line-height: 2rem;
  display: block;
  max-width: 8.25rem;
}
.header-contacts .address {
  font-size: .8rem;
  color: #3b9ca5;
}


.special-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.useful-info .card {
  background-color: #3b9ca5!important;
  color: #fff;
  border-radius: 0;
  border: none;
  min-height: 11rem;
}
.useful-info h1,
.useful-info h2,
.useful-info h3,
.useful-info h4,
.useful-info h5,
.useful-info h6 {
  color: #fff;
}
.useful-info ul {
  columns: 2
}
.real-footer {
  background-color: rgba(0,0,0,.3);
  color: #fff;
  font-style: italic;
}
.footer-contact dt {
  font-weight: 500;
  text-decoration: underline;
}
.footer-contact dd {
  font-weight: 300
}

footer .useful-links .container {
  padding-right: 3.5rem
}
footer .useful-links {
  background-color: #3b9ca5;
  color: rgba(255,255,255,1);
}
footer .useful-links a {
  color: rgba(255,255,255,1);
}
footer .useful-links ul {
  columns: 2
}
footer .useful-links .img-contact {
  display: block;
  width: 80%;
  margin: 0 auto;
}
footer .useful-links .hotline {
  display: block;
  font-weight: 300;
  line-height: 20px
}
footer .useful-links .hotline small {
  font-weight: 200;
}

footer {
  border-top: 1px solid #3b9ca5;
  background-color: #3b9ca5;
  color: #fff;
  line-height: 1.5;
}
footer a {
  color: #fff;
}

#home {
  position: relative;
}
#home:after {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,.6);
}
#home .home-slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#home .home-slider div {
  width: 100%; height: 100%;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  /*transform: translateZ(0) scale(1.1);*/
}
#home .container.content {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1020;
  text-align: center;
  max-width: 800px;

  color: #fff;
}
#home .container h1 {
  color: #fff;
}
#home .container .headline:after {
  left: 50%;
  transform: translateX(-50%);
}
#home .container.walkmethru {
  position: absolute;
  bottom: 1rem; left: 50%;
  transform: translateX(-50%);
  z-index: 1020;
  text-align: center;
  max-width: 800px;
  font-size: 2rem
}

.section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.cbp .cbp-item {
  z-index: 2;
  display: block;
  width: 240px; /* default width for blocks */
  height: 250px; /* default height for blocks */
}

.cbp-filter-item {
  border-radius: 3px;
}
.cbp-filter-item {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.cbp-l-grid-team-name {
  /* @editable properties */
  color: #456297;
  text-decoration: none;
  display: block;
  text-align: center;
  margin-bottom: 3px;
}

.cbp-l-grid-team-position {
  /* @editable properties */
  color: #888888;
  text-align: center;
  font-style: normal;
}
.cbp-popup-singlePage .cbp-l-member-name {
  /* @editable properties */
  margin-bottom: 6px;
}
.cbp-popup-singlePage .cbp-l-member-position {
  /* @editable properties */
}
.cbp-popup-singlePage .cbp-l-member-desc {
  /* @editable properties */
  margin-top: 15px;
  line-height: 1.6em;
}

.masonry {
  display: flex;
  flex-flow: row wrap;
  /*margin-left: -8px;*/
  width: 100%;
}

.masonry .masonry-brick {
  flex: auto;
  height: 250px;
  min-width: 150px;
  margin: 0 8px 8px 0;
}
.masonry .masonry-brick img {
  width: 100%;
  height: 100%;
  object-fit: cover
}
.masonry-brick:nth-child(4n+1){
   width: 250px;
}
.masonry-brick:nth-child(4n+2){
   width: 325px;
}
.masonry-brick:nth-child(4n+3){
   width: 180px;
}
.masonry-brick:nth-child(4n+4){
   width: 380px;
}

.filler {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
  perspective: 1px;
}
.filler:before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url('../../img/backgrounds/infobed.jpg') center center no-repeat transparent;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(0.75);
  perspective: 1px;
}
.filler .container {
  transform: translateZ(0);
  width: 100%; height: 100%;
  color: #fff;
}
.filler h2{
  color: #fff;
  margin-bottom: 1em;
}

/* --- Pricing box --- */
.pricing-box {
  padding-left:0;
  padding-right:0;

  background-color: transparent;
  border: none;
  box-shadow: none;

  /*max-width: 31%;
  margin: 1%;*/
}

.pricing-content {
  background:#fff;
  -webkit-box-shadow:0 0 7px rgba(0,0,0,0.1);
  box-shadow:0 0 7px rgba(0,0,0,0.1);
  /*margin-top:20px;*/
  /*margin: .25rem 1rem;*/
  -webkit-transition:all .25s ease-in-out;
  -moz-transition:all .25s ease-in-out;
  -o-transition:all .25s ease-in-out;
  transition:all .25s ease-in-out;
  position:relative;
  
  border-radius: 4px;
}
.pricing-content.general {
  z-index:99;
}

/*.pricing-content .pricing-category {
  position: absolute;
  top: .5rem;
  left: -1rem;
  padding: 0 1rem 0 2rem;
  background-color: #dc3545;
  color: #fff;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}
.pricing-content .pricing-category:before {
  content: "";
  position: absolute;
  top: 2rem; left: 0;
  width: 0;
  height: 0;
  border-top: 1rem solid #a00a18;
  border-left: 1rem solid transparent;
}*/
.pricing-content h2 {
  background-color: rgb(107, 137, 140);
  color:#FFF;
  font-size:17px;
  /*text-align:center;*/
  margin-bottom:0;
  /*padding: 3rem 1.5rem 2rem;*/
  padding: 2rem 1.5rem;
  border-radius: 4px 4px 0 0;
}

.pricing-content .description {
  /*color:#fff;*/
  text-align:center;
  /*background:#444;*/
  margin-bottom:0;
  font-weight:700;
  padding:30px 0;
}

.pricing-content .description span {
  font-weight:300;
  font-size:18px;
}

.pricing-content .description sup {
  font-size:18px;
}

.pricing-content ul {
  list-style:none;
  margin:25px 0;
}

.pricing-content li {
  border-top:1px dotted #EFEFEF;
  width:85%;
  color:#333;
  margin:0 auto;
  padding:15px 0;
  padding-right: 3rem;
  position: relative;
}

.pricing-content li:first-child {
  border-top:none;
}

.pricing-content li i {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}

.pricing-content li del {
  color:#aaa;
}

.price-bottom {
  background:#f7f7f7;
  text-align:center;
  padding:25px 0;
  border-radius: 0 0 4px 4px;
}


.pricing-content p {
  padding:1rem;
}

.pricing-content.featured {
  /*margin-top:-20px;*/
  position:relative;
  z-index:999;
  -webkit-box-shadow:0 2px 20px 0 rgba(0,0,0,0.2);
  box-shadow:0 2px 20px 0 rgba(0,0,0,0.2);
  background-color: rgba(59, 156, 165, .05);
}

.pricing-content.featured h2, 
.pricing-content.featured .price-bottom {
    background-color: rgba(59, 156, 165, .8);
}
.icon-primary {
  color: #4765a0;
} 
.icon-success {
  color: #7db53b;
} 
.icon-info {
  color: #51b6bf;
} 
.icon-warning {
  color: #e6e039;
} 
.icon-danger {
  color: #e24e47;
} 

@media (min-width: 576px){
}

@media (min-width: 768px) {
  header .hotline {
    width: auto;
  }

  header .navbar-collapse {
    background: transparent;
  }
  header .navbar .navbar-brand img {
    width: 280px;
  }

  .useful-info {
    columns: 3;
  }
}

@media (min-width: 1120px) {
  .useful-info {
    columns: 3;
  }
}

.modal-full {
    min-width: 80%;
    max-width: 1200px;
    margin: 3rem auto;
}

.modal-full .modal-content {
    /*max-height: 80vh;
    overflow-y: scroll;
    overflow-x: none;*/
}
.btn-xs{
    font-size: .8em;
    margin: auto;
    font-weight: bold;
    padding: 1px 5px;
    margin-top: -3px;
}
.badge-lg {
    font-size: 1em;
}