@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500');

/* Base Style
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}
body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 300;
  line-height: 2;
  /*padding-bottom: 2rem;*/
  background: #fafafa;

  font-size: .65rem
}
body > main[role="main"] {
  position: relative;
  background: #fff;
  /*overflow-x: hidden;*/
}
 main[role="main"] > .container {
/*.container {*/
  padding-right: 3.5rem
}

.btn {
  font-size: 1rem;
}
p {
  text-align: justify;
}
a {
  color: #3b9ca5
}
h1,h2,h3,h4,h5,h6 {
  color: #3b9ca5;
  font-weight: 400;
}
blockquote {
  padding: 1rem;
  background: #efefef;
  border-left: 3px solid #3b9ca5;
}

form label {
  font-weight: 500
}

.select2-container .select2-selection--single {
  height: calc(2.25rem + 2px);
  line-height: calc(2.25rem + 2px)
}
.select2-container .select2-selection--single .select2-selection__rendered {
  line-height: calc(2.25rem + 2px)
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: calc(2.25rem)
}

.image-cover {
  object-fit: cover;
}

.no-border {
  border: none transparent !important;
}

.odd-section{
  background-color: #edf2f6;
}
.table-striped tbody tr:nth-of-type(odd) {
  background: #3b9ca511;
}

.jumbotron {
  padding: 0;
  margin-bottom: 0;
  /*height: 100%;*/
  position: relative;

  /*height: 50vh;
  min-height: 341.5px;*/
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
  color: #fff;
}
.jumbotron:before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  /*background-color: rgba(0,0,0,.6)*/
}
.jumbotron .container {
  width: 100%;
  /*max-width: none;*/
  text-align: center;
  /*margin-left: 0;*/
  transform: translateZ(1px);
  color: #fff;
  min-height: 75vh;
}
.jumbotron .container p {
  display: none;
}
.jumbotron .container.right {
  margin-left: auto;
  margin-right: 0
}

.breadcrumb {
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
}

@keyframes accordion-symbol-flip {
  0%   {transform: rotate(0deg)}
  100% {transform: rotate(90deg)}
}

.accordion {}
.accordion .item {
  background-color: #3B959E23
}
.accordion .item-header {
  padding: 0 1rem 0 1rem;
}
.accordion .item-header > button {
  padding: 1rem 0 1rem 2rem;
  position: relative;
  font-size: 1.3rem;
  text-decoration: none;
  color: #555;
}
.accordion .item-body {
  padding: 0 1rem 1rem 3rem;
}
.accordion .item .list-group-item {
  border: none transparent;
  background-color: transparent;
  color: #636363;
  border-radius: .5rem;
  transition: all .15s ease-in-out
}
.accordion .item .list-group-item:hover {
  background-color: #33333311;
}

.accordion.icon .item-header > button[aria-expanded="false"]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(90deg);
  width: 1.2rem;
  height: 1.2rem;
  transition: all .2s ease-in-out;

  background: url(../img/icons/icon_accordion_show.png) left center no-repeat transparent;
  background-size: 1.2rem;
}
.accordion.icon .item-header > button[aria-expanded="true"]:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(0deg);
  width: 1.2rem;
  height: 1.2rem;
  transition: all .2s ease-in-out;

  background: url('../img/icons/icon_accordion_hide.png') left center no-repeat transparent;
  background-size: 1.2rem;
}

.btn.download {
  background: url('../img/icons/icon_download.png') left center no-repeat transparent;
  background-size: cover;
  width: 18px; height: 18px;
}
.home.icon {
  background: url('../img/icons/icon_address_black.png') left center no-repeat transparent;
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: -.4rem;
}
.phone.icon {
  background: url('../img/icons/icon_phone_black.png') left center no-repeat transparent;
  background-size: cover;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 8px;
  margin-bottom: -.4rem;
}

.btn-daftar {
  position: fixed;
  bottom: 0;
  right: 1rem;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

header, header > div {
  background-color: rgba(255,255,255,1);
  box-shadow: 0 4px 8px #3335;
}
header > .container {
  background-color: rgba(255,255,255,1);
}

/*.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}*/

code {
  font-size: 80%;
}

.home-cari-dokter-container {
  /*position: relative;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -100%);*/
  position: relative;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}
.home-cari-dokter-container > div {
  height: 100%
}
.home-cari-dokter {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  min-height: 50vh;
  width: 98%;
  max-width: 480px;
  border-radius: 5px;
  padding: 0;
  overflow: hidden;
}
.home-cari-dokter .content {
  padding: 0
}
.home-cari-dokter .nav-tabs {
  border-bottom: none transparent;
  /*background-color: #fff;*/
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: transparent;
}
.home-cari-dokter .nav-link {
  border: none transparent;
  background: #fff;
  color: #3b9ca5;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.home-cari-dokter .nav-link.active {
  background-color: #3b9ca5;
  color: #fff;
}
.home-cari-dokter .tab-content {
  padding: 1rem;
  background: #3b9ca5;
}

aside.cari-dokter {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -250px;
  min-height: 250px;
  z-index: 100;
  display: block;
  background: #3b9ca5;
  border: 2px solid #ffffff99;
  border-bottom: none transparent;
  width: 96%;
  max-width: 480px;
  border-radius: 5px 5px 0 0;
  filter: drop-shadow(0 4px 4px rgba(0,0,0,0.4));
  transition: bottom .5s ease-in-out;
}

aside.cari-dokter .content {
  position: relative;
  padding: 1rem;
  color: #fefefe;
}

aside.cari-dokter a,
.home-cari-dokter a {
  color: #fff;
}
aside.cari-dokter .nav-tabs .nav-link.active, 
aside.cari-dokter .nav-tabs .show>.nav-link {

}

aside.cari-dokter .content label {
  color: #fefefe;
}

aside.cari-dokter .content .btn-sidebar {
  cursor: pointer;
  position: absolute;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%; max-width: 120px;
  border-radius: 5px 5px 0 0;
  border: 2px solid #ffffff99;
  border-bottom: none transparent;
  background: #3b9ca5;
  color: #fefefe;
  font-size: 1.25rem;
  padding: .5rem 1.5rem;
  letter-spacing: 1px;
  z-index: -1;
}

aside.cari-dokter .content .btn-sidebar:focus,
aside.cari-dokter .content .btn-sidebar.focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

aside.cari-dokter .btn-appointment,
.home-cari-dokter .btn-appointment,
.btn-appointment {
  cursor: pointer;
  background: #fac20b;
  /*background: #3b9ca5;*/
  /*background: -webkit-gradient(left top, left bottom, color-stop(0%, #e8d60d), color-stop(100%, #d4b90c));*/
  /*background: -webkit-gradient(linear, left top, left bottom, from(#e8d60d), to(#d4b90c));*/
  /*background: linear-gradient(to bottom, #e8d60d 0%, #d4b90c 100%);*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d60d', endColorstr='#d4b90c', GradientType=0 );*/
  border: none;
  border-radius: 3px;
  color: #ffffff;
  width: 100%;
  text-shadow: 0 0 3px #33333399;
  /*-webkit-transition: all .15s ease-in-out;*/
  /*transition: all .15s ease-in-out;*/
}

aside.cari-dokter .btn-appointment:hover,
.home-cari-dokter .btn-appointment:hover {
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
}

aside.cari-dokter .btn-appointment:active,
.home-cari-dokter .btn-appointment:active {
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  background: #e8d60d !important;
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #e8d60d), color-stop(100%, #d4b90c)) !important;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8d60d), to(#d4b90c)) !important;
  background: linear-gradient(to bottom, #e8d60d 0%, #d4b90c 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8d60d', endColorstr='#d4b90c', GradientType=0 ) !important;
}

.main-logo {
  /*width: 22rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  height: auto*/
  padding-top: .5rem;
  padding-bottom: .5rem;
  width: auto;
  height: 5rem;
  object-fit: contain
}

.navbar {
  background-color: #3b9ca5;
  font-weight: 300;
  padding: .25rem 1rem;
}
.navbar .navbar-brand {
  background: url('../img/icon-bu.png') center left no-repeat transparent;
  text-indent: -9999px;
  background-size: cover;
  width: 57px; height: auto;
  filter: drop-shadow(0px 0px 2px rgba(255,255,255,.9))
}
.navbar .navbar-nav .btn {
  color: rgba(255,255,255,.6);
  font-weight: 300;
  cursor: pointer;
  padding: .475rem .75rem;
}
.navbar .navbar-nav .btn.hover, 
.navbar .navbar-nav .btn:hover,
.navbar .navbar-nav .btn.focus, 
.navbar .navbar-nav .btn:focus {
  box-shadow: none;
  color: rgba(255,255,255,.9);
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.6);
  padding: .4rem .5rem;
  color: #fefefe!important;
  font-weight: 500
}
.login > .nav-link img {
  filter: invert(1)
}
.language {
  /*border-left: 1px solid rgba(255,255,255,.6);*/
  display: inline-block;
  padding-left: .75rem;
  font-size: .8rem;
  color: #3b9ca5
}
.language>.nav-link {
  padding:  .25rem .5rem!important;
  border-radius: 5px;
}
.language>.nav-link.active {
  background-color: rgba(0,0,0,.25)
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: 1em;
}
.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}
.header-contacts {
}
.header-contacts .contact {
  text-align: left;
  line-height: 1.15;
  font-weight: 500;
}
.header-contacts .contact small{
  font-weight: 300
}
.header-contacts .buttons {
  display: flex;
}
.header-contacts .buttons .header-items {
  flex: auto;
  text-align: left;
  color: #3b9ca5;
  line-height: 18px;
  max-width: 2.75rem;
}
.header-contacts .header-items.phone {
  background: url('../img/icons/icon_phone.png') center left no-repeat transparent;
  background-size: auto 28px;
  padding-left: 36px;
  font-size: .9rem;
  line-height: 2rem;
  display: block;
  max-width: 8.25rem;
}
.header-contacts .address {
  font-size: .8rem;
  color: #3b9ca5;
}

footer {
  line-height: 1.5;
  /*margin-top: 3rem;*/
  /*margin-top: -1.5rem;*/
  font-size: .9rem;
}
footer .copyright-text span{
  color: #3b9ca5 !important;
  font-style: italic !important;
  font-weight: 300;
  font-size: 1.1em !important;
}
footer .useful-links .container {
  padding-right: 3.5rem
}
footer .useful-links {
  background-color: #3b9ca5;
  color: rgba(255,255,255,1);
}
footer .useful-links a {
  color: rgba(255,255,255,1);
}
footer .useful-links ul {
  columns: 2
}
footer .useful-links .img-contact {
  display: block;
  width: 80%;
  margin: 0 auto;
}
footer .useful-links .hotline {
  display: block;
  font-weight: 300;
  line-height: 20px
}
footer .useful-links .hotline small {
  font-weight: 200;
}
footer .footer-contacts .footer-items {
  color: #3b9ca5;
  line-height: 18px;
  display: inline-block;
  width: 32px; height: 32px;
}
footer .real-footer {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  background: #fff;
  padding-top: .5rem;
  padding-bottom: .5rem;
  box-shadow: 0 -1px 3px rgba(0,0,0,.2)
}

.icon.fb {
  background: url('../img/icons/icon_facebook.png') center center no-repeat transparent;
  background-size: 28px;
  text-indent: -9999px;
  cursor: pointer;
}
.icon.yt {
  background: url('../img/icons/icon_youtube.png') center center no-repeat transparent;
  background-size: 28px;
  text-indent: -9999px;
  cursor: pointer;
}
.icon.ig {
  background: url('../img/icons/icon_instagram.png') center center no-repeat transparent;
  background-size: 28px;
  text-indent: -9999px;
  cursor: pointer;
}
.icon.tw {
  background: url('../img/icons/icon_twitter.png') center center no-repeat transparent;
  background-size: 28px;
  text-indent: -9999px;
  cursor: pointer;
}
/*.footer-contact {
  display: block;
  padding-left: 40px;
  padding-top: .5rem;
  padding-bottom: .5rem;
  min-height: 3rem;
}
.footer-contact.telp {
  background: url('../img/icons/icon_phone2.png') left .5rem no-repeat transparent;
  background-size: 28px;
}

.footer-contact.email {
  background: url('../img/icons/icon_mail.png') left .5rem no-repeat transparent;
  background-size: 28px;
}

.footer-contact.address {
  background: url('../img/icons/icon_address.png') left .5rem no-repeat transparent;
  background-size: 28px;
}*/

.footer-contact dt {
  font-weight: 500;
  text-decoration: underline;
}
.footer-contact dd {
  font-weight: 300
}

#home-slider {
  height: 70vh;
  position: relative;
  /*margin-top: 10px;*/
  margin-top: 3.625rem;
}
#home-slider .home-cari-dokter-container {
  position: absolute;
}
#home-slider div#slider,
#home-slider div#slider div {
  height: 100%
}
#home-slider .slider-wrap {
  height: 100%;
  /* background-size: auto 100%; */
  background-repeat: no-repeat;
  background-position: center center;
  /* background-attachment: fixed; */
  position: relative;
  z-index: -1;
  background-size:cover;
}
/* #home-slider .slider-wrap:before {
  content: " ";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,.2)
} */
#home-slider .slider-content {
  position: absolute;
  top: 40%; left: 50%;
  /*transform: translate3d(-50%, -40%, 0) scale(0.9);*/
  width: 100%; height: 50%!important;
  padding: 1rem;

  color: #fff;
}
#home-slider h1, 
#home-slider h2, 
#home-slider h3, 
#home-slider h4, 
#home-slider h5, 
#home-slider h6 {
  color: #fff;
}
#home-slider .slick-prev:before,
#home-slider .slick-next:before {
  font-size: 32px!important;
}
#home-slider .slick-prev {
  z-index: 1000;
  left: 32px;
}
#home-slider .slick-next {
  z-index: 1000;
  right: 48px;
}

.content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.jumbotron.karir {
  overflow: hidden;
}
.jumbotron.karir:before {
  background: url('../img/backgrounds/karir.jpg') top center no-repeat transparent;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  transform: translateZ(0) scale(1.1);
  z-index: 0;
  color: #fff;
  filter: brightness(.85);
  /*max-height: 30vh;*/
}

.jumbotron.service {
  overflow: hidden;
}
.jumbotron.service:before {
  background: url('../img/backgrounds/pelayanan.jpg') top center no-repeat transparent;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  /* transform: translateZ(0) scale(1.1); */
  z-index: 0;
  color: #fff;
  /* filter: brightness(.85); */
  /*max-height: 30vh;*/
}

.jumbotron.rujukan {
  overflow: hidden;
}
.jumbotron.rujukan:before {
  background: url('../img/backgrounds/rujukan.jpg') center center no-repeat transparent;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  /* transform: translateZ(0) scale(1.1); */
  z-index: 0;
  color: #fff;
  filter: brightness(.85);
  /*max-height: 30vh;*/
}

.jumbotron.pasien {
  overflow: hidden;
}
.jumbotron.pasien:before {
  background: url('../img/backgrounds/pasien.jpg') center center no-repeat transparent;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  /* transform: translateZ(0) scale(1.1); */
  z-index: 0;
  color: #fff;
  filter: brightness(.85);
  /*max-height: 30vh;*/
}

.jumbotron.tim-dokter {
  overflow: hidden;
}
.jumbotron.tim-dokter:before {
  background: url('../img/backgrounds/tim-dokter.jpg') top center no-repeat transparent;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  z-index: 0;
  color: #fff;
  /* filter: brightness(.85); */
  /* transform: translateZ(0) scale(1.1); */
  /*max-height: 30vh;*/
}

.jumbotron.whistleblowing {
  overflow: hidden;
}
.jumbotron.whistleblowing:before {
  background: url('../img/backgrounds/whistleblowing.jpg') top center no-repeat transparent;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  /* transform: translateZ(0) scale(1.1); */
  z-index: 0;
  color: #fff;
  filter: brightness(.85);
  /*max-height: 30vh;*/
}

.jumbotron.media {
  overflow: hidden;
}
.jumbotron.media:before {
  background: url('../img/backgrounds/media.jpg') center center no-repeat transparent;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  transform: translateZ(0) scale(1.1);
  z-index: 0;
  color: #fff;
  filter: brightness(.85);
  /*max-height: 30vh;*/
}

.jumbotron.profil {
  overflow: hidden;
}
.jumbotron.profil:before {
  background: url('../img/backgrounds/profil.jpg') center center no-repeat transparent;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  /* transform: translateZ(0) scale(1.1); */
  z-index: 0;
  color: #fff;
  filter: brightness(.85);
  /*max-height: 30vh;*/
}

.jumbotron.mutu {
  overflow: hidden;
}
.jumbotron.mutu:before {
  background: url('../img/backgrounds/media.jpg') center center no-repeat transparent;
  background-size: cover;
  background-attachment: fixed;
  perspective: 1px;
  /* transform: translateZ(0) scale(1.1); */
  z-index: 0;
  color: #fff;
  filter: brightness(.85);
  /*max-height: 30vh;*/
}

.content-sidebar h1,
.content-sidebar h2,
.content-sidebar h3,
.content-sidebar h4,
.content-sidebar h5,
.content-sidebar h6 {
  color: #fff;
}

.content-sidebar > aside {
  background-color: #3b9ca5;
  color: #fff;
  border-radius: 0 0 .5rem .5rem
}
.content-sidebar .menu {
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 1rem;
}
.content-sidebar .menu a {
  padding: 1rem 2rem;
  display: block;
  background: transparent;
  color: #fff;
  position: relative;
}
.content-sidebar .menu .dropright a {
  text-align: left;
  font-weight: 100;
}
.content-sidebar .menu .dropright a:after {
  position: absolute;
  right: 1rem; top: 50%;
  transform: translateY(-50%);
}
.content-sidebar .menu .dropright .dropdown-menu a {
  color: #333;
  padding: .5rem 1rem;
}
.content-sidebar .menu.less-padding a {
  padding-top: 0;
  padding-bottom: 0;
}
.content-sidebar .menu a.active {
  background: #3335;
}
.content-sidebar .menu a[data-toggle="collapse"]:not(collapsed):after {
  content: "";
  position: absolute;
  top: 50%; right: 1rem;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-left: .4rem solid transparent;
  border-right: .4rem solid transparent;
  border-top: .4rem solid #fff;
}
.content-sidebar .menu a.parent.active.collapsed:after {
  border-top: .4rem solid transparent;
  border-bottom: .4rem solid transparent;
  border-left: .4rem solid #fff;
  border-right: none transparent;
}
.content-sidebar .collapse a,
.content-sidebar .collapsing a {
  padding-left: 3.5rem;
}
.content-sidebar a.active:not(parent):after {
  content: "";
  position: absolute;
  top: 50%; right: 1rem;
  transform: translateY(-50%);
  width: 0; 
  height: 0; 
  border-top: .4rem solid transparent;
  border-bottom: .4rem solid transparent;
  border-left: .4rem solid #fff;
}

.content-main {
  margin-top: 1rem;
}

.list-rujukan {}
.list-rujukan a {
  /*max-width: 20rem;*/
  /*padding: 3rem;*/
  padding: .75rem 2rem;
  text-decoration: none;
  display: block;
  transition: all .15s ease-in-out
}
.list-rujukan a:hover {
  /*background-color: #3B959E23*/
}
.list-kegiatan {}
.list-kegiatan a {
  max-width: 20rem;
  padding: 3rem;
  text-decoration: none;
  display: block;
  transition: all .15s ease-in-out;
  border: 1px solid #33333333;
  border-radius: .5rem
}
.list-kegiatan a:hover {
  background-color: #3B959E23
}
.list-pustaka {}
.list-pustaka a {
  text-decoration: none;
  display: block;
  transition: all .15s ease-in-out;
  /*border: 1px solid #33333333;*/
  border-radius: .5rem
}
.list-pustaka a:hover {
  background-color: #3B959E23
}
.list-dewan {}
.list-dewan a {
  text-decoration: none;
  display: block;
  transition: all .15s ease-in-out;
  border-radius: .5rem
}
.list-dewan a:hover {
  background-color: #3B959E23
}
.list-dewan img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.gallery {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.gallery a {
  flex: auto;
  height: 12rem;
  width: auto;
  min-width: 6rem;
  max-width: calc(25% - 1rem);
  margin: .5rem;
}
.gallery a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.schedule td {
  font-size: 1.3rem;
  width: calc(100% / 7)
}
.schedule td .time {
  padding: .5rem .75rem
}

.blog-post {
  margin-bottom: 4rem;
}

.dividing {
  position: relative;
  margin-top: 4rem;
  justify-content: center;
}
.dividing:before {
  content: "";
  position: absolute;
  top: 50%; left: 50%;
  width: 100%; height: 4rem;
  transform: translate(-50%, -50%);
  background: url('../img/button-divider.png') center center no-repeat transparent;
  background-size: contain;
}

.dividing .btn {
  margin: 0 auto;
  background-color: #3b9ca5;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 4rem;
  padding: .75rem 2rem;
  z-index: 100;
}

.filler {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  position: relative;
  perspective: 1px;
}
.filler:before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: url('../img/backgrounds/infobed.jpg') center center no-repeat transparent;
  background-attachment: fixed;
  background-size: cover;
  filter: brightness(0.75);
  perspective: 1px;
  /* transform: translateZ(0) scale(1.5); */
}
.filler .content {
  /*transform: translateZ(0) scale(0.8)*/
  transform: translateZ(0);
  width: 100%; height: 100%;
  /*color: #fff;*/
}
.filler .content h2{
  /*color: #fff;*/
  margin-bottom: 1em;
}

.kuesioner {
  padding: 1rem;
}
.kuesioner h3 { 
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.kuesioner-steps { 
  overflow: hidden;
  position: relative;
  margin: 0 0 1rem;
  display: flex;
  justify-content: center
}

.kuesioner-progress { 
  position: absolute;
  top: 24px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
}
.kuesioner-progress-line { 
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  background: #17646b;
}

.kuesioner-step { 
  position: relative;
  width: 33.333333%;
  padding: 0 5px;
  text-align: center;
}

.kuesioner-step-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-top: 4px;
  background: #ddd;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.kuesioner-step.activated .kuesioner-step-icon {
  background: #fff;
  border: 1px solid #17646b;
  color: #17646b;
  line-height: 38px;
}
.kuesioner-step.active .kuesioner-step-icon {
  width: 48px;
  height: 48px;
  margin-top: 0;
  background: #17646b;
  font-size: 22px;
  line-height: 48px;
}

.kuesioner-buttons .btn {
  background: #17646b;
  color: #fff;
}
.kuesioner-step p { 
  color: #ccc;
}
.kuesioner-step.activated p { 
  color: #17646b;
}
.kuesioner-step.active p { 
  color: #17646b;
}

.kuesioner fieldset { 
  display: none;
  text-align: left;
}

.kuesioner .input-error { 
  border-color: #f35b3f;
}

.hotline {
  font-size: 1.2rem;
  color: #3b9ca5;
  font-weight: 500;
  font-style: italic;
}


.pagination {
  border: none
}
.pagination .page-link {
  color: #3b9ca5!important;
  background: #fff;
  border: 1px solid #3b9ca5;
  margin: 0 .25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;

  text-align: center;
  line-height: 1.5rem
}
.page-item:first-child .page-link,
.page-item:last-child .page-link {
  border-radius: 1.25rem!important;
}
.pagination .page-item.active .page-link {
  color: #fff!important;
  background: #3b9ca5;
}


.drawer {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  background: #00cbde;
  padding-left: 3rem;
  transition: 0.3s;
  color: #fafafa;
  font-weight: bold;
  /*border: 2px solid #ffffff66;*/
  border-right: none;
  border-radius: .5rem 0 0 .5rem;
  max-height: 10rem
}
.drawer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.drawer-content {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background: #dead0b;
  min-height: 120px;
}
.drawer span.title {
  cursor: pointer;
  position: absolute;
  /*top: 20%;*/
  top: 40%;
  left: -3.5rem;
  font-size: 1rem;
  transform: rotate(-90deg) translateY(-50%);
  padding: 0 1.5rem;
  font-weight: bolder;
  width: 170px;
  text-align: center;
}

.drawer.emergency {
  right: -210px;
  z-index: 999;
  /*top: calc(50% - 190px);*/
  top: calc(50% - 35px);
  background: #fac20b;
  width: 250px;
}

.drawer.find-doctor {
  right: -210px;
  z-index: 999;
  top: calc(50% - 190px);
  /*top: calc(50% - 35px);*/
  background: #fac20b;
  width: 250px;
}
/*.drawer.find-doctor span.title {
  transform: rotate(-90deg) translateY(-65%);
  top: 22%;
}*/

.drawer.questionnaire {
  right: -210px;
  z-index: 999;
  /*top: 51%;*/
  top: calc(50% + 120px);
  background: #fac20b;
  width: 250px;
}

.drawer.show {
  right: 0px;
  transition: 0.3s;
  z-index: 1000;
}

.drawer-selector .select2-results__option--highlighted[aria-selected] {
    background: #bb9108!important
  }

.testimoni-bottom {
  position: absolute;
  bottom: 0;
  right: 7%;
  z-index: 1000;
  background: #fac20b;
  width: 120px;
  padding: 8px 10px;
  border-radius: 5px 5px 0 0;
  text-align: center;
  color: #fff;
  font-weight: bold;
}
.testimoni-bottom:hover{
  background: #f4bb00;
  color: #fff;
  font-variant: none;
}
.testimoni-bottom a{
  color: #fff;
  font-weight: bold;
}

.testimoni-container {
  position: fixed;
  bottom: 2rem;
  right: 5rem;
  z-index: 1000;
}

.testimoni-container .btn {
  background-color: #FF0033;
  color: #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  line-height: 2.75rem;
}

.rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    /*text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    /*text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    /*text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    /*text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);*/
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

.service-item{
  border-radius: 1rem;
  padding: 10px;
  cursor: pointer;
}
.service-item img{
  float: left;
  margin-right: 10px;
}
.service-item:hover{
  background:#3b9ca5;
  color:#fff;
}
.service-item a:hover, .service-item:hover .detail, .service-item:hover .title{
  text-decoration: none !important;
  color:#fff !important;
}
.service-item:hover img{
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.mv-gd-widget-20 div{
  border: none !important;
}
.mv-gd-widget-20 h3{
  display: none !important;
}
.awards-slider .slick-dots{
  display: none;
}

ul.alphabets {
  display: block;
  width: 100%;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0;
}

ul.alphabets li{
  display: inline-block;
  border: 1px solid #3b9ca5;
  width: 33px;
  line-height: 33px;
  text-align: center;
  margin-top: .15em;
}
ul.alphabets li:hover, ul.alphabets li.active{
  background: #3b9ca5;
}
ul.alphabets li:hover a, ul.alphabets li.active a{
  color: #fff;
}
.subtitle{
  font-size: 1rem;
  color: #3b9ca5;
}
.page-item.active .page-link{
  z-index: 0 !important;
}
.datepicker table tr td, .datepicker table tr th{
  font-weight: bold;
}
.datepicker table tr td.disabled, .datepicker table tr th.disabled{
  font-weight: normal;
}
.sertifikat-title{
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus{
  border-color: #dee2e6 #dee2e6 #fff;
}
.card-header h5 .btn.btn-link{
  padding-left: 0 !important;
}

/* CALENDAR STYLE */
time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 4em;
  height: 4em;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 0.6em;
  border: 1px solid #bdbdbd;
  /*box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;*/
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  font-size: 0.8em;
  /*padding: 0;*/
  color: #fff;
  background-color: #fd9f1b;
  border-bottom: 1px dashed #f37302;
  /*box-shadow: 0 2px 0 #fd9f1b;*/
}

time.icon em
{
  position: absolute;
  bottom: 0em;
  color: #fd9f1b;
}

time.icon span
{
  width: 100%;
  font-size: 1.6em;
  /*letter-spacing: -0.05em;*/
  padding-top: .6em;
  color: #2f2f2f;
}

time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

.testimoni-bottom {
  position: fixed;
  bottom: 0;
  /*right: 15%;*/
  right: 4%;

  font-size: 1.1rem;
}

@media (min-width: 576px){
/*  .jumbotron {
    padding: 8rem 4rem;
  }*/
  /*.jumbotron .container p {
    display: block;
  }*/

@media (min-width: 768px) {

  body {
    font-size: 1rem
  }

  #home-slider {
    margin-top: 0;
  }

  body > main[role="main"] {
    padding: 8.5rem 0 0;
  }
  main[role="main"] > .container {
  /*.container {*/
    padding-right: 2rem
  }
  header {
    height: 8.5rem;
  }
  #home-slider {
    /*height: calc(75vh - 11rem);*/
    /*height: calc(75vh - 8.4rem);*/
    /*height: calc(80vh - 6.7rem);*/
    
    height: 50vh;
    min-height: 341.5px;

    background: #3b9ca5;
  }
  #home-slider .slider-wrap {
    background-size: contain;
    background-position: center center;
  }
  .navbar-dark .navbar-nav .nav-item {
    border-right: 1px solid #ffffff22;
  }
  .navbar-dark .navbar-nav .nav-item:last-child {
    border-right: none transparent
  }
  .jumbotron .container {
    text-align: left;
    min-height: 15rem;
  }
  .jumbotron .container.right {
    text-align: right;
  }
  #home-slider .slider-content {
    top: 40%; left: 20%;
    transform: translate3d(-20%, -40%, 0) scale(0.9);
    width: 50%;
  }

  aside.cari-dokter {
    /*right: 2rem;*/
    /*transform: translateX(0);*/

    bottom: -250px;
    z-index: 100;
  }

  footer .useful-links .container {
    padding-right: 2rem
  }
}

@media (min-width: 1120px) {
  main[role="main"] > .container {
  /*.container {*/
    padding-right: 0
  }
  .home-cari-dokter {
    left: auto;
    right: 0;
    transform: translateY(-50%);
  }
  .navbar-nav .nav-item {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  footer .useful-links .container {
    padding-right: 0
  }
}

/* LOADING */
/* Absolute Center Spinner */
#cover {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
#cover:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));

  background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

/* :not(:required) hides these rules from IE9 and below */
#cover:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

#cover:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
  border-radius: 0.5em;
  -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.modal-lg {
    max-width: 90% !important;
}

/* google translate */
.goog-te-banner, .goog-te-gadget, .skiptranslate:not(.ignore){
  opacity: 0 !important;
}

#app{
  top: 0 !important;
}